.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrapper .mbr-overlay {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4.4rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.52rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.08rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.08rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.19rem + (4.4 - 2.19) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #9fe870 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #9fe870 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #66d022 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #9fe870;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #9fe870;
  border-color: #9fe870;
  color: #306310;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #9fe870;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #9fe870 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #9fe870;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #9fe870;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #9fe870;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #9fe870;
  border-bottom-color: #9fe870;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #9fe870 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239fe870' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-vgb17tiida {
  display: flex;
  background-image: url("../../../assets/images/psychological-drama-pitch-deck-layout-cinematic-story-presentation.jpeg");
}
.cid-vgb17tiida .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vgb17tiida {
    align-items: flex-end;
  }
  .cid-vgb17tiida .row {
    justify-content: center;
  }
  .cid-vgb17tiida .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgb17tiida .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgb17tiida {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vgb17tiida .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgb17tiida .content-wrap {
    width: 100%;
  }
}
.cid-vgb17tiida .mbr-section-title,
.cid-vgb17tiida .mbr-section-subtitle {
  text-align: center;
}
.cid-vgb17tiida .mbr-text,
.cid-vgb17tiida .mbr-section-btn {
  text-align: justify;
  color: #ffffff;
}
.cid-vgb17tiida .mbr-section-title {
  text-align: justify;
  color: #ffffff;
}
.cid-vgfVGMYi0o {
  display: flex;
  background-image: url("../../../assets/images/2026-04-13-10.39.26.png");
}
.cid-vgfVGMYi0o .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vgfVGMYi0o {
    align-items: flex-end;
  }
  .cid-vgfVGMYi0o .row {
    justify-content: center;
  }
  .cid-vgfVGMYi0o .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgfVGMYi0o .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgfVGMYi0o {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vgfVGMYi0o .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgfVGMYi0o .content-wrap {
    width: 100%;
  }
}
.cid-vgfVGMYi0o .mbr-section-title,
.cid-vgfVGMYi0o .mbr-section-subtitle {
  text-align: center;
}
.cid-vgfVGMYi0o .mbr-text,
.cid-vgfVGMYi0o .mbr-section-btn {
  text-align: justify;
}
.cid-vgfVGMYi0o .mbr-section-title {
  text-align: justify;
  color: #ffc091;
}
.cid-vgao4n62uT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgao4n62uT .content-head {
  max-width: 800px;
}
.cid-vgao4n62uT .mbr-section-title {
  color: #ffffff;
}
.cid-vgao4n62uT .mbr-text,
.cid-vgao4n62uT .mbr-section-btn {
  color: #ffffff;
  text-align: justify;
}
.cid-vgaq5HwZiC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgaq5HwZiC .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaq5HwZiC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgaq5HwZiC .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgaq5HwZiC .row {
  flex-direction: row-reverse;
}
.cid-vgaq5HwZiC .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-vgaq5HwZiC .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vgaq5HwZiC .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-vgaq5HwZiC .mbr-section-title {
  color: #ffffff;
}
.cid-vgaq5HwZiC .mbr-text,
.cid-vgaq5HwZiC .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-vgats010nR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgats010nR .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgats010nR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgats010nR .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgats010nR .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-vgats010nR .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgats010nR .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgats010nR .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgats010nR .header-menu li p {
  margin: 0;
}
.cid-vgats010nR .content-head {
  max-width: 800px;
}
.cid-vgats010nR .mbr-section-title {
  color: #ffffff;
}
.cid-vgats010nR .mbr-text,
.cid-vgats010nR .mbr-section-btn {
  color: #ffffff;
  text-align: justify;
}
.cid-vgsUhGP8iB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgsUhGP8iB .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgsUhGP8iB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgsUhGP8iB .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgsUhGP8iB .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-vgsUhGP8iB .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgsUhGP8iB .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgsUhGP8iB .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgsUhGP8iB .header-menu li p {
  margin: 0;
}
.cid-vgsUhGP8iB .content-head {
  max-width: 800px;
}
.cid-vgsUhGP8iB .mbr-text,
.cid-vgsUhGP8iB .mbr-section-btn {
  text-align: justify;
  color: #ffffff;
}
.cid-vgsUhGP8iB .mbr-section-title {
  color: #ffffff;
}
.cid-vgaHBqyW9F {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/whatsapp-image-2026-04-09-at-12.15.07.jpeg");
}
.cid-vgaHBqyW9F .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vgaHBqyW9F {
    align-items: flex-end;
  }
  .cid-vgaHBqyW9F .row {
    justify-content: flex-start;
  }
  .cid-vgaHBqyW9F .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgaHBqyW9F .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgaHBqyW9F {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vgaHBqyW9F .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgaHBqyW9F .content-wrap {
    width: 100%;
  }
}
.cid-vgaHBqyW9F .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaHBqyW9F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaHBqyW9F .mbr-section-title,
.cid-vgaHBqyW9F .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vgaHBqyW9F .mbr-text,
.cid-vgaHBqyW9F .mbr-section-btn {
  text-align: left;
}
.cid-vgaUNocgsg {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgaUNocgsg .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaUNocgsg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaUNocgsg .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgaUNocgsg .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-vgaUNocgsg .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgaUNocgsg .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgaUNocgsg .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgaUNocgsg .header-menu li p {
  margin: 0;
}
.cid-vgaUNocgsg .content-head {
  max-width: 800px;
}
.cid-vgaUNocgsg .mbr-section-title {
  color: #000000;
}
.cid-vgaUNocgsg .mbr-text,
.cid-vgaUNocgsg .mbr-section-btn {
  text-align: justify;
}
.cid-vgfVbsIQfG {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgfVbsIQfG .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgfVbsIQfG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgfVbsIQfG .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgfVbsIQfG .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-vgfVbsIQfG .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgfVbsIQfG .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgfVbsIQfG .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgfVbsIQfG .header-menu li p {
  margin: 0;
}
.cid-vgfVbsIQfG .content-head {
  max-width: 800px;
}
.cid-vgfVbsIQfG .mbr-section-title {
  color: #000000;
}
.cid-vgfVbsIQfG .mbr-text,
.cid-vgfVbsIQfG .mbr-section-btn {
  text-align: justify;
}
.cid-vgb859Wp8Y {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgb859Wp8Y .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb859Wp8Y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgb859Wp8Y .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgb859Wp8Y .image-wrap img {
    display: block;
    margin: auto;
    width: 90%;
  }
}
.cid-vgb859Wp8Y .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgb859Wp8Y .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgb859Wp8Y .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgb859Wp8Y .header-menu li p {
  margin: 0;
}
.cid-vgb859Wp8Y .content-head {
  max-width: 800px;
}
.cid-vgb859Wp8Y .mbr-section-title {
  color: #163300;
}
.cid-vgb859Wp8Y .mbr-text,
.cid-vgb859Wp8Y .mbr-section-btn {
  text-align: justify;
}
.cid-vgaWY5yzqs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgaWY5yzqs .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaWY5yzqs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaWY5yzqs .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgaWY5yzqs .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-vgaWY5yzqs .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgaWY5yzqs .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgaWY5yzqs .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgaWY5yzqs .header-menu li p {
  margin: 0;
}
.cid-vgaWY5yzqs .content-head {
  max-width: 800px;
}
.cid-vgaWY5yzqs .mbr-text,
.cid-vgaWY5yzqs .mbr-section-btn {
  text-align: justify;
}
.cid-vgaXmKDVLs {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/whatsapp-image-2026-04-08-at-14.08.46.jpeg");
}
.cid-vgaXmKDVLs .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vgaXmKDVLs {
    align-items: flex-end;
  }
  .cid-vgaXmKDVLs .row {
    justify-content: flex-start;
  }
  .cid-vgaXmKDVLs .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgaXmKDVLs .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgaXmKDVLs {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vgaXmKDVLs .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgaXmKDVLs .content-wrap {
    width: 100%;
  }
}
.cid-vgaXmKDVLs .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaXmKDVLs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaXmKDVLs .mbr-section-title,
.cid-vgaXmKDVLs .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vgaXmKDVLs .mbr-text,
.cid-vgaXmKDVLs .mbr-section-btn {
  text-align: left;
}
.cid-vgaYkNaD7r {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgaYkNaD7r .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaYkNaD7r .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaYkNaD7r .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgaYkNaD7r .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-vgaYkNaD7r .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgaYkNaD7r .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgaYkNaD7r .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgaYkNaD7r .header-menu li p {
  margin: 0;
}
.cid-vgaYkNaD7r .content-head {
  max-width: 800px;
}
.cid-vgaYkNaD7r .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-vgaYkNaD7r .mbr-text,
.cid-vgaYkNaD7r .mbr-section-btn {
  color: #ffffff;
  text-align: justify;
}
.cid-vgge62c8do {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #232323;
}
.cid-vgge62c8do .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgge62c8do .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgge62c8do .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgge62c8do .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-vgge62c8do .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgge62c8do .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgge62c8do .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgge62c8do .header-menu li p {
  margin: 0;
}
.cid-vgge62c8do .content-head {
  max-width: 800px;
}
.cid-vgge62c8do .mbr-section-title {
  color: #ffffff;
}
.cid-vgge62c8do .mbr-text,
.cid-vgge62c8do .mbr-section-btn {
  color: #ffffff;
  text-align: justify;
}
.cid-vgb4C5g7aI {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-vgb4C5g7aI .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb4C5g7aI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgb4C5g7aI .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgb4C5g7aI .image-wrap img {
    display: block;
    margin: auto;
    width: 90%;
  }
}
.cid-vgb4C5g7aI .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgb4C5g7aI .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgb4C5g7aI .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgb4C5g7aI .header-menu li p {
  margin: 0;
}
.cid-vgb4C5g7aI .content-head {
  max-width: 800px;
}
.cid-vgb4C5g7aI .mbr-section-title {
  color: #ffffff;
}
.cid-vgb4C5g7aI .mbr-text,
.cid-vgb4C5g7aI .mbr-section-btn {
  color: #edefeb;
  text-align: justify;
}
.cid-vgb6m1IfhP {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-vgb6m1IfhP .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb6m1IfhP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgb6m1IfhP .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgb6m1IfhP .image-wrap img {
    display: block;
    margin: auto;
    width: 90%;
  }
}
.cid-vgb6m1IfhP .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgb6m1IfhP .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgb6m1IfhP .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgb6m1IfhP .header-menu li p {
  margin: 0;
}
.cid-vgb6m1IfhP .content-head {
  max-width: 800px;
}
.cid-vgb6m1IfhP .mbr-section-title {
  color: #ffffff;
}
.cid-vgb6m1IfhP .mbr-text,
.cid-vgb6m1IfhP .mbr-section-btn {
  color: #ffffff;
  text-align: justify;
}
.cid-vgg00DUNM4 {
  display: flex;
  padding-top: 20rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/background17.jpg");
}
.cid-vgg00DUNM4 .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-vgg00DUNM4 {
    align-items: flex-end;
  }
  .cid-vgg00DUNM4 .row {
    justify-content: flex-start;
  }
  .cid-vgg00DUNM4 .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgg00DUNM4 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgg00DUNM4 {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-vgg00DUNM4 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgg00DUNM4 .content-wrap {
    width: 100%;
  }
}
.cid-vgg00DUNM4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgg00DUNM4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgg00DUNM4 .mbr-section-title,
.cid-vgg00DUNM4 .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-vgg00DUNM4 .mbr-text,
.cid-vgg00DUNM4 .mbr-section-btn {
  text-align: left;
}
.cid-vgg0h1DsjE {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #edefeb;
}
.cid-vgg0h1DsjE .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgg0h1DsjE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgg0h1DsjE .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgg0h1DsjE .image-wrap img {
    display: block;
    margin: auto;
    width: 90%;
  }
}
.cid-vgg0h1DsjE .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgg0h1DsjE .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgg0h1DsjE .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgg0h1DsjE .header-menu li p {
  margin: 0;
}
.cid-vgg0h1DsjE .content-head {
  max-width: 800px;
}
.cid-vgg0h1DsjE .mbr-text,
.cid-vgg0h1DsjE .mbr-section-btn {
  text-align: justify;
}
.cid-vgg5Xm4Yfi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgg5Xm4Yfi .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgg5Xm4Yfi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgg5Xm4Yfi .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgg5Xm4Yfi .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-vgg5Xm4Yfi .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgg5Xm4Yfi .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgg5Xm4Yfi .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgg5Xm4Yfi .header-menu li p {
  margin: 0;
}
.cid-vgg5Xm4Yfi .content-head {
  max-width: 800px;
}
.cid-vgg5Xm4Yfi .mbr-text,
.cid-vgg5Xm4Yfi .mbr-section-btn {
  text-align: justify;
}
.cid-vgg5Xm4Yfi .mbr-section-title {
  color: #000000;
}
.cid-vgg7s7AU7e {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgg7s7AU7e .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgg7s7AU7e .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgg7s7AU7e .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgg7s7AU7e .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-vgg7s7AU7e .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgg7s7AU7e .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgg7s7AU7e .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgg7s7AU7e .header-menu li p {
  margin: 0;
}
.cid-vgg7s7AU7e .content-head {
  max-width: 800px;
}
.cid-vgg7s7AU7e .mbr-text,
.cid-vgg7s7AU7e .mbr-section-btn {
  text-align: justify;
}
.cid-vgg8s0e23N {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vgg8s0e23N .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgg8s0e23N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgg8s0e23N .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgg8s0e23N .image-wrap img {
    display: block;
    margin: auto;
    width: 90%;
  }
}
.cid-vgg8s0e23N .row-links {
  width: 100%;
  justify-content: center;
}
.cid-vgg8s0e23N .header-menu {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-vgg8s0e23N .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-vgg8s0e23N .header-menu li p {
  margin: 0;
}
.cid-vgg8s0e23N .content-head {
  max-width: 800px;
}
.cid-vgg8s0e23N .mbr-text,
.cid-vgg8s0e23N .mbr-section-btn {
  text-align: justify;
}
.cid-vggDtZhoaq {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2e481a;
  overflow: hidden;
}
